body {
    line-height: 150%;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    letter-spacing: 0;
    word-spacing: 0;
    text-transform: inherit;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
}

body img {
    max-width: 100%;
}

body .thumbnail-container, body .thumbnail_container {
    padding-bottom: 100%;
    background-color: rgba(0,0,0,0.03);
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 0;
}
body .thumbnail {
    margin: 0px;
    display: block;
    padding: 0px;
    border: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: none;
}
body .thumbnail a, body .thumbnail img {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.title {
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0;
    color: #4C4C6D;
}

.file {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 20px auto 0 auto;
    height: 100px;
}

.file input {
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 100px;
    padding: 0 30px;
    background-color: #FFE194;
    border: 1px dashed #E8F6EF;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: #4C4C6D;
}

.previews {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: -7.5px;
    margin-left: -7.5px; 
    justify-content: center;
}

.previews div {
    flex: 0 0 20%;
    max-width: 20%;
    border-radius: 5px;
    overflow: hidden;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.previews div:nth-child(n+6) {
    margin-top: 15px;
}

.previews div img{
    border-radius: 5px;
}

@media (max-width: 767px){
    .previews div {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .previews div:nth-child(n+5) {
        margin-top: 15px;
    }
}

@media (max-width: 480px){
    .previews div {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .previews div:nth-child(n+3) {
        margin-top: 15px;
    }
}